/*PAGE CONTACT*/

header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
    background-color: var(--background-color-dark);
}
.title-form {
    margin: 1em;
}

.form {
    width: 100%;
    height: 50em;
    background: linear-gradient(180deg, rgba(38,70,83,1) 0%, rgba(42,157,143,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

.form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-select,
.form-control {
    width: 30em;
    border-radius: 8px;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    border: none;
   
}
select,
input {
    height: 2.5em;
}

.form-select:focus-visible,
.form-control:focus-visible
 {
    outline: 3px solid #F4A261;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.button-orange {
    border: none;
}
.button-orange:hover{
    border: 3px solid #F4A261;
}

@media screen and (max-width:450px){
    .form-select,
    .form-control {
        width:20em;
    }
}
 /* PAGE CONNEXION */
 